<% title_tag t('topics.new_topic') %>

<div class="card">
  <div class="card-header hide-ios"><%= t('topics.new_topic') %></div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
<style media="screen">
  #node-selector thead a {
    cursor: not-allowed;
  }
</style>
<script type="text/javascript">
  $('#node-selector thead a').click(function(){
    return false;
  })
</script>
